@model IEnumerable<ProjectModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="popup-form" style="display:none">
    @await Html.PartialAsync("Partials/Create", new ProjectModel())
</div>
<div id="projects-view">
    <div class="project-container">
        <div class="sidebar">
            <img class="logo" src="/logosvg.svg" />
            <div class="btn-background">

            </div>
            @* <button>Projects</button> *@
        </div>

        <div class="workspace">
            <div class="menu-bar">
                @if (ViewBag.isCreated != null) {
                    <p>Is created</p>
                }
                <div class="handle-account">
                    <img src="/Setting.png" />
                    <span></span>
                    <img id="user-btn" src="/avatar.png" />
                </div>
                <div class="account-options">
                    <div class="menu-item">
                        <img class="card-avatar" src="/avatar.png" />
                        <p>User Name</p>
                    </div>
                    <div class="logout">
                        <img src="/Logout.png" />
                        <a>Logout</a>
                    </div>
                </div>
            </div>

            <div class="add-section">
                <h2 class="heading">Projects</h2>
                <button onclick="toggleCreate()" class="add-btn"><img class="plus" src="/Plus.svg" /> Add Project</button>
            </div>

            <div class="filter-bar">
                <a class="filter-tab highlighted">ALL [0]</a>
                <a class="filter-tab">STARTED [0]</a>
                <a class="filter-tab">COMPLETED [0]</a>
            </div>
            <div class="outlet">
                @foreach (var product in Model)
                {
                    <div class="card-wrapper">
                        <div class="project-card">
                            <div class="top-info">
                                <img src="/Image.svg" />
                                <div>
                                    <h6>@product.ProjectName</h6>
                                    <p>@product.Client</p>
                                </div>
                            </div>
                            <p class="description">@product.Description</p>
                        </div>
                    </div>
                }
                @{
                    var remainder = Model.Count() % 3;
                    var missingCards = 3 - remainder;

                    for (int i = 0; i < missingCards; i++)
                    {
                        <div class="project-card dummy">
                            <div class="top-info">
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const userBtn = document.querySelector("#user-btn");
        const accountCard = document.querySelector(".account-options");
        const createModal = document.querySelector(".popup-form");
        const closeBtn = document.querySelector('#close');


        accountCard.style.display = "none"
        userBtn.addEventListener("click", () => {
            if (accountCard.style.display === "none") {
                accountCard.style.display = "block";
            } else {
                accountCard.style.display = "none"
            }
        });

        const highLight = (e) => {
            filterTabs.forEach(el => el.classList.remove("highlighted"));
            e.target.classList.add("highlighted");
        }

        const filterTabs = document.querySelectorAll(".filter-tab");
        filterTabs.forEach(el => el.addEventListener("click", highLight));



        createModal.style.display = "none"
        const toggleCreate = (e) => {
            if (createModal.style.display === "none") {
                createModal.style.display = "block";
            } else {
                createModal.style.display = "none"
            }
        }

        closeBtn.addEventListener("click", toggleCreate);


        const toolbarOptions = [
          ['bold', 'italic', 'underline'],
          [{ align: '' }, { align: 'center' }, { align: 'right' }],
          [{ 'list': 'bullet'}, { 'list': 'ordered' }],
          ['link'],
        ];

        const quill = new Quill('#editor', {
            modules: {
              toolbar: toolbarOptions
            },
            theme: 'snow'
        });

        quill.on('editor-change', (eventName) => {
            const html = quill.getSemanticHTML(0);
            console.log(html);
            const inputText = document.getElementById('wysiwyg-content');
            inputText.value = html;
        });

    </script>
}