@{
    ViewData["Title"] = "Home Page";
}

<div id="projects-view">
    <div class="project-container">
        <div class="sidebar">
            <h2>Sidebar</h2>
        </div>

        <div class="workspace">
            <div class="menu-bar">
                <div class="handle-account">
                    <img src="/Setting.png" />
                    <span></span>
                    <img src="/avatar.png" />
                </div>
            </div>
            <div class="add-section">
                <h2 class="heading">Projects</h2>
                <button class="add-btn"><img class="plus" src="/Plus.svg" /> Add Project</button>
            </div>

        </div>
    </div>
</div>
