@model ProjectModel
@{
	ViewData["Title"] = "Create";
}

<div id="create" class="popup">
	<div class="wrapper">
		<img id="close" src="/X.svg" />
		<h3 class="heading">Add Project</h3>
		<img class="logo-img" src="/Image.svg" />
		<div class="form-container">
			<form id="" asp-action="Create" asp-controller="Home" method="post" novalidate>
				<input type="hidden" asp-for="UserName" value="@userManager.GetUserName(User)" />
				<div class="form-group create">
					<label asp-for="ProjectName"></label>
					<div class="field-group">
						<input asp-for="ProjectName" />
						<span class="ProjectName" asp-validation-for="ProjectName"></span>
						@* <span class="js-validation">Required field</span> *@
					</div>
				</div>

				<div class="form-group create">
					<label asp-for="Client"></label>
					<div class="field-group">
						<input asp-for="Client" />
						<span class="Client" asp-validation-for="Client"></span>
						@* <span class="js-validation">Required field</span> *@
					</div>
				</div>

				<div class="form-group">
					<label asp-for="Description"></label>
					<input type="hidden" id="wysiwyg-content" asp-for="Description" />
					<div class="wysiwyg-container" style="display: flex;flex-direction: column-reverse;">
						<div id="editor">
							@if (Model != null)
								@Html.Raw(Model.Description)
						</div>
					</div>
				</div>

				<div class="date-wrapper">
					<div class="form-group create">
						<label asp-for="StartDate"></label>
						<div class="field-group">
							<img src="~/Calendarsvg.svg" />
							<input id="start-date" type="text" value="@DateTime.Now.ToString("MMMM dd, yyyy")" asp-for="StartDate" />
							<span asp-validation-for="StartDate"></span>
						</div>
					</div>
					<div class="form-group create">
						<label asp-for="EndDate"></label>
						<div class="field-group">
							<img src="~/Calendarsvg.svg" />
							<input id="end-date" type="text" value="@DateTime.Now.ToString("MMMM dd, yyyy")" asp-for="EndDate" />
							<span asp-validation-for="EndDate"></span>
						</div>
					</div>
				</div>

				<div class="form-group signup terms">
					<label asp-for="Completed"></label>
					<div class="field-group terms">
						<input asp-for="Completed" />
						<span asp-validation-for="Completed"></span>
					</div>
				</div>

				<div class="form-group create">
					<label asp-for="Budget"></label>
					<div class="field-group">
						<img class="dollar" src="~/Dollar.svg" />
						<input asp-for="Budget" />
						<span class="Budget" asp-validation-for="Budget"></span>
					</div>
				</div>

				<button type="submit" class="btn btn-submit btn-primary create-btn">Create</button>
			</form>
		</div>
	</div>
</div>
