@model ProjectModel
@{
	ViewData["Title"] = "Update";
}

<div id="create" class="popup">
	<div class="wrapper">
		<img id="close-update" src="/X.svg" />
		<h3 class="heading">Edit Project</h3>
		<img class="logo-img" src="/Image.svg" />
		<div class="form-container">
			<form id="" asp-action="Update" asp-controller="Home" method="post" novalidate>
				<input type="hidden" asp-for="Id" />
				<input type="hidden" asp-for="UserName" />
				<div class="form-group create">
					<label asp-for="ProjectName"></label>
					<div class="field-group">
						<input class="update-ProjectName" asp-for="ProjectName" />
						<span class="update-ProjectName" asp-validation-for="ProjectName"></span>
					</div>
				</div>

				<div class="form-group create">
					<label asp-for="Client"></label>
					<div class="field-group">
						<input class="update-Client" asp-for="Client" />
						<span class="update-Client" asp-validation-for="Client"></span>
					</div>
				</div>

				<div class="form-group">
					<label asp-for="Description"></label>
					<input type="hidden" id="wysiwyg-content-update" asp-for="Description" />
					<div class="wysiwyg-container" style="display: flex;flex-direction: column-reverse;">
						<div id="update-editor">
							@if (Model != null)
								@Html.Raw(Model.Description)

						</div>
					</div>
				</div>

				<div class="date-wrapper">
					<div class="form-group create">
						<label asp-for="StartDate"></label>
						<div class="field-group">
							<img src="~/Calendarsvg.svg" />
							<input id="update-start-date" type="text" value="@Model!.StartDate.ToString("MMMM dd, yyyy")" asp-for="StartDate" />
							<span asp-validation-for="StartDate"></span>
						</div>
					</div>
					<div class="form-group create">
						<label asp-for="EndDate"></label>
						<div class="field-group">
							<img src="~/Calendarsvg.svg" />
							<input id="update-end-date" type="text" value="@Model!.EndDate.ToString("MMMM dd, yyyy")" asp-for="EndDate" />
							<span asp-validation-for="EndDate"></span>
						</div>
					</div>
				</div>

				<div class="form-group signup terms">
					<label asp-for="Completed"></label>
					<div class="field-group terms">
						<input asp-for="Completed" />
						<span asp-validation-for="Completed"></span>
					</div>
				</div>

				<div class="form-group create">
					<label asp-for="Budget"></label>
					<div class="field-group">
						<img class="dollar" src="~/Dollar.svg" />
						<input class="update-Budget" asp-for="Budget" />
						<span class="update-Budget" asp-validation-for="Budget"></span>
					</div>
				</div>

				<button type="submit" class="btn btn-submit btn-primary create-btn">Update</button>
			</form>
		</div>
	</div>
</div>
