@model UserSignInForm

@{
	ViewData["Title"] = "Sign In";
}

<div id="signin" class="container">
	<form id="signin-form" asp-action="SignIn" asp-controller="Auth" method="post" novalidate>


		<input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

		<div class="form-group">
			<label asp-for="Email"></label>
			<input asp-for="Email" />
		</div>

		<div class="form-group">
			<label asp-for="Password"></label>
			<input asp-for="Password" />
		</div>

		<div class="form-group">
			<div class="notification error">
				@ViewBag.ErrorMessage
			</div>
		</div>

		<button type="submit" class="btn btn-login btn-primary">Sign In</button>
	</form>
</div>

