:root {
    --primary-blue: #2D99FF;
    --heading: #1A1926;
}

html {
    font-family: "Nunito", sans-serif;
}

main {
    position: relative;
}

a {
    text-decoration: none;
    color: var(--primary-blue);
    &:visited {
        color: var(--primary-blue);
    }
}

.field-validation-error {
    color: red;
}

span[data-valmsg-for="Exists"],
span[data-valmsg-for="NotCreated"] {
    display: block;
    padding-bottom: 8px;
}

label, input, span, p, a {
    font-weight: 600;
    font-size: 15px;
}

span, p {
    color: #28263B;
    /*padding: 0px 2px*/
}

button, .menu-item {
    height: 48px;
    width: 100%;
    border-radius: 14px;
    border: 0;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 4px 10px -4px var(--primary-blue);
    color: white;
    background-color: var(--primary-blue);
    cursor: pointer;
}


.js-validation {
    /*display: none;*/
    color: red;
}

.wysiwyg-container {
    padding-top: 10px;

    #editor, #update-editor {
        min-height: 120px;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        border: 1px solid #EBEEF2;
        
        .ql-editor::before {
            font-family: "Nunito";
            font-size: 15px;
            font-style: normal;
        }                                             

        p {
            font-weight: 400;
        }

        span {
            padding: 0;
        }
    }
    .ql-stroke {
        stroke: var(--heading) !important;
        stroke-width: 1.5 !important;
    }

    .ql-toolbar {
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom-right-radius: 14px;
        border-bottom-left-radius: 14px;

        &.ql-snow {
            border: 1px solid #EBEEF2 !important;
        }

        button {
            border-radius: 0;
            box-shadow: none;
        }
    }
}

#create.popup {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgba(48, 48, 48, 0.5);
    z-index: 1;

    .wrapper {
        width: 550px;
        padding-top: 30px;
    }

    a {
        width: 100%;
        display: inline-block;
        margin: 10px 0px;
        padding: 10px;
        border: 1px solid #637085;
        border-radius: 14px;
        text-align: center;
        color: #637085;
    }

    h1 {
        color: var(--heading);
    }

    h3 {
        padding-left: 30px;
        text-align: left;
        font-size: 28px;
    }
    
    form {
        width: 490px;
    }

    #close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    .logo-img {
        height: 170px;
        padding-top: 30px;
        margin: auto;
    }
}

#signin, #signup, #create {
    min-height: 100vh;
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
    background-color: #EAECF0;

    h1 {
           text-align: center;
           font-size: 36px;
       }

    p {
        padding: 0px 4px;
    }

    .create-btn {
        position: absolute;
        width: 490px;
        bottom: 30px;
    }

    .wrapper {
        position: relative;
        min-height: 700px;
        width: 600px;
        padding-top: 100px;
        border-radius: 16px;
        box-shadow: 0px 14px 0px -10px rgba(255, 255, 255, 0.5);
        background-color: white;
    }

    .date-wrapper {

    }

    .form-container {
        display: flex;
        justify-content: center;
        margin-top: 54px;
        margin-bottom: 180px;
    }

    form {
        width: 400px;
    }

    .form-group {
        /*margin-top: 10px;*/
        margin-bottom: 24px;
        /*span {
            color: red;
        }*/
    }

    .form-group.signup, .form-group.create {
        margin-bottom: 6px;

        &.terms {
            margin-bottom: 20px;
        }
    }

    .date-wrapper {
        display: flex;
        justify-content: space-between;

        .form-group {
            width: 230px;
        }
    }

    .field-group.terms {
        display: flex;
    }

    .field-group {
        position: relative;

        img {
            position: absolute;
            right: 12px;
            top: 23px;
        }
        .dollar {
            right: unset;
            left: 12px;
        }
        #Budget {
            padding-left: 32px;
        }
    }

    input {
        border: 1px solid #EBEEF2;
        margin-top: 10px;
        padding-left: 12px;
        font-weight: 400;

        height: 48px;
        width: 100%;
        border-radius: 14px;

        &::placeholder {
            color: #637085;
            line-height: 1;
        }
    }

    .checkbox-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin-top: 0px;
        accent-color: var(--primary-blue);
    }

    span {
        padding-left: 8px;
        font-weight: 400;
    }

    .form-link {
        position: absolute;
        width: 100%;
        bottom: 24px;
        display: flex;
        justify-content: center;
    }
}

#projects-view {

    background-color: #F1F3F7;

    h2 {
        font-size: 32px;
        font-weight: 700;
    }

    img {
        cursor: pointer;
    }


    .plus {
        display: inline;
        max-width: 100%;
        margin-bottom: -2px;
        margin-right: 4px;
    }
    
    .project-container {
        min-height: 1200px;
        display: flex;
        max-width: 1440px;
        margin: auto;
        /*border: 1px dashed black;*/
        /*background-color: var(--primary-blue);*/
    }

    .sidebar {
        width: 270px;
        border-right: 2px solid #E3E5E8;
        padding: 22px 16px;

        .logo {
            margin-left: 10px;
            margin-bottom: 28px;
        }

        .btn-background {
            background-image: url(/listMenu.svg);
            height: 56px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .workspace {
        /*width: 1170px;*/
        flex: 1;
        /*border: 2px dashed var(--primary-blue);*/
    }

    .menu-bar {
        height: 80px;
        border-bottom: 2px solid #E3E5E8;
        position: relative;
        
        p, a {
            padding-left: 16px;
            color: var(--heading);
        }
        .handle-account {
            display: flex;
            float: right;
            width: 110px;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            margin-right: 30px;

            span {
                height: 30px;
                border: 1px solid #E3E5E8;
            }
        }

        .account-options {
            position: absolute;
            right: 110px;
            top: 70px;
            height: 130px;
            width: 300px;
            display: none;
            padding: 8px;
            border-radius: 14px;
            background-color: white;
            color: var(--heading);
            box-shadow: 0px 10px 20px -10px rgb(26, 25, 38, 0.3);
        }

        .menu-item {
            height: 64px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            background-color: #F5F7FA;
            box-shadow: none;
            color: var(--heading);
            cursor: default;
        }

        .card-avatar {
            border: 3px solid white;
            border-radius: 56px;
        }

        .logout {
            display: flex;
            align-items: center;
            padding: 16px;
        }

        .logout a {
            font-weight: 400;
            cursor: pointer;
        }

    }

    .add-section {
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 30px;
        
        button {
            width: 152px;
            height: 46px;
        }
    }

    .filter-bar {
        margin: 0px 30px;
        padding-bottom: 8px;
        border-bottom: 2px solid #E3E5E8;

        a {
            margin-right: 20px; 
            font-weight: 700;
            color: #637085;
            cursor: pointer;
        }
        .highlighted {
            color: var(--primary-blue);
            border-bottom: 3px solid var(--primary-blue);
            padding-bottom: 7px;
        }
    }

    .outlet {
        margin: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .project-card {
        height: 276px;
        width: 350px;
        position: relative;
        margin: 15px 0px;
        padding: 16px;
        border-radius: 16px;
        background-color: white;
        box-shadow: 0px 14px 0px -10px rgba(255, 255, 255, 0.5), 0px 10px 20px -10px rgba(26, 25, 38, 0.3);

        img {
            margin-right: 16px;
        }

        h6 {
            font-size: 18px;
            font-weight: 600;
            color: var(--heading);
        }

        button {
            font-weight: 400;
        }

        .client-p {
            font-weight: 400;
            color: #637085;
        }

        hr {
            border: 1px solid #EBEEF2;
            margin: 2px 0px 1px 0px;
        }

        .edit-btn {
            position: absolute;
            right: 16px;
            height: 40px;
            width: 40px;
            border-radius: 12px;
            background: center url(/dots.svg) no-repeat;
            cursor: pointer;
        }

        .edit-btn:hover {
            background-color: #F5F7FA;
        }

        .top-info {
            display: flex;
            align-items:center;
        }

        .description {
            margin-top: 16px;
            font-size: 15px;
            font-weight: 400;
        }

        .project-options {
            position: absolute;
            right: 30px;
            top: 60px;
            height: 115px;
            width: 230px;
            padding: 8px;
            border-radius: 14px;
            background-color: white;
            color: var(--heading);
            box-shadow: 0px 10px 20px -10px rgb(26, 25, 38, 0.3);
        }
        .project-options .menu-item, .project-options button {
            box-shadow: none;
            background-color: transparent;
            color: var(--heading);
            text-align: left;
            display: flex;
            align-items: center;
        }

        button.delete {
            color: #FF6640;
        }
        .menu-item:hover {
            background-color: #F5F7FA;
        }

        .opt-img {
            height: 20px;
            width: 20px;
        }
    }
    
    .project-card.dummy {
        visibility: hidden;
    }
}